{% extends "base.html" %}
{% block title %} postget {%endblock%}
{%block body%}
<body class="container mt-5">
    <h1>Ask question</h1>
    <form method="post">
        <input type="text" name ="title" id = "title" class = "form-control" placeholder="Title"><br>
        <textarea name="intro" id="intro" class = "form-control" placeholder="Place here your domain etc SQL or Python"></textarea><br>
        <textarea name="text" id="text" class = "form-control" placeholder="Write problem here"></textarea><br>
        <input type="submit" class = "btn btn-success" value = "Submit">

    </form>

</body>
{%endblock%}